.card
  min-height: 300px

  &--height400
    min-height: 400px

    @media (max-width: $grid-tablet-breakpoint - 1)
      min-height: inherit

  &--height450
    min-height: 450px

    @media (max-width: $grid-tablet-breakpoint - 1)
      min-height: inherit

  &__height200
    max-height: 200px

    @media (max-width: $grid-tablet-breakpoint - 1)
      min-height: inherit

  &__pointImage
    width: 180px
    max-width: 100%
    max-height: 250px
