.mdl-button, .mdl-chip
  font-family: $font__primary

.mdl-layout

  &__header
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.01), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.01)

  &__header-row

    @media (max-width: $grid-desktop-breakpoint - 1)
      height: inherit

    .mdl-navigation

      &__link
        color: rgba(0, 0, 0, 1)
        font-family: $font__primary
        font-weight: bold
        opacity: 1 !important

  &__drawer
    .mdl-navigation
      .mdl-navigation__link
        color: rgba(0, 0, 0, 1)
        font-family: $font__primary
        font-weight: bold

  &__drawer-button
    display: none
    color: #000 !important
    cursor: pointer
    z-index: 1000

    @media (max-width: $grid-desktop-breakpoint - 1)
      display: block


.mdl-mega-footer
  padding: 10px

  .mdl-navigation

    &__link
      max-width: 100%
      padding: 20px
      color: rgba(255, 255, 255, 1)
      font-family: $font__primary
      font-weight: bold
      opacity: 1 !important

.mdl-card
  &__actions
    font-size: 13px

.mdl-button
  font: $font__primary
